// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Body
$body-background-color: rgb(30, 30, 30);
$font-color: antiquewhite;

$body-background-color-light: white;
$font-color-light: rgb(30,30,30);

// Typography
$font-family-sans-serif: Arial, Helvetica, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

body{
    --background-color: rgb(30, 30, 30);
    --color: antiquewhite;
    margin:0;
    background-color: var(--background-color);
    font-family: $font-family-sans-serif;
    color:var(--color);
    font-size: $font-size-base;
}

[hidden] {
    display:none;
}
html{
    line-height:1.5;
}
*,:after,:before{
    box-sizing:border-box;border:0 solid transparent
}
h1{
    font-size: $font-size-base + 8px;
}
h2{
    font-size: $font-size-base + 6px;
}
h3{
    font-size: $font-size-base + 4px;
}
h4{
    font-size: $font-size-base;
}
label, input, p{
    font-size: $font-size-base;
}
code{
    white-space: pre-line;
    font-size: $font-size-base;
}
aside, main{
    margin:0 10px;
}
