.myControlExempleComponent{
    display: flex;
    flex-direction: row;
}
.leftPanel{
    width: 30%;
}
.controlDisplayList{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.51);
    padding: 12px;
}
.main > div{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 15px;
    row-gap:5px;
}
.subCategory{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.cardSeparator{
    display: flex;
    flex-direction: column;
    gap:10px;
}
