//Modal
$modalBorderDefaultWidth:2px;
$modalBorderMaxWidth:4px;
.modalGlobal{
    --modalBorderDefaultWidth: $modalBorderDefaultWidth;
    --modalBorderMaxWidth:$modalBorderMaxWidth;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: radial-gradient(rgba(167, 167, 167, 0.4), rgba(50, 50, 50, 0.2));
    align-items: center;
    justify-content: center;
    animation-duration: 0.7s;
    transition: linear 0.2s;
    &.animGlobal{
        animation-name: animateShade;
    }

    &.globalLightBackground{
        background: radial-gradient(rgba(50, 50, 50, 0.4), rgba(167, 167, 167, 0.2));
    }

    .modal{
        opacity: 1 !important;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        background-color: rgb(64, 64, 64);
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-duration: 0.8s;
        border: 5px solid rgb(42, 42, 42);
        border-radius: 20px;
        transition: 0.1ms linear;

        &.animModal{
            animation-name: animateBorder;
        }
        &.modalLight{
            background-color: rgb(242,242,242);
            border-color: rgb(196, 196, 196);
        }

        //Modal Header
        .modalHeader{
            display: flex;
            gap:5px;
            width: 100%;
            align-content: center;
            text-align: center;

            .modalCloseButton{
                margin-left: auto;
                background: rgba(0,0,0,0);
                font-size: larger;
                color: rgb(193,193,193);
                cursor: pointer;
                padding: 10px;
                height: 100%;
            }
            .modalCloseButton:hover{
                color: rgb(255, 255, 255);
                filter: drop-shadow(0 0 0.75rem #171717);

                &.modalButtonLight{
                    color: rgb(24, 24, 24);
                    &:hover{
                        color: rgb(0, 0, 0);
                        filter: drop-shadow(1rem 1rem 2rem #000000);
                    }
                }
            }
        }

        .headerSeparator{
            width: 100%;
            height: 1px;
            background-color: rgb(193,193,193);
            margin: 0 auto 16px;
            border-radius: 10%;
            &.separatorLight{
                background-color: rgb(24, 24, 24);
            }
        }

        .modalTitle{
            padding:0 10px;
        }
        .modalBody{
            padding: 2px;
        }
    }

    //Modal Default animation
    @keyframes animateShade {
        from {opacity: 0}
        to {opacity: 1}
    }
    @keyframes animateBorder {
        from {
            border-width: var(--modalBorderDefaultWidth);
        }
        20%{
            border-width: ($modalBorderDefaultWidth+$modalBorderMaxWidth)*0.2;
        }
        40%{
            border-width: ($modalBorderDefaultWidth+$modalBorderMaxWidth)*0.4;
        }
        60%{
            border-width: ($modalBorderDefaultWidth+$modalBorderMaxWidth)*0.6;
        }
        80%{
            border-width: ($modalBorderDefaultWidth+$modalBorderMaxWidth)*0.8;
        }
        to{
            border-width: var(--modalBorderMaxWidth);
        }
    }
}
