.main{
    margin: 0;
    width: 100%;
}
body{
    background-color: rgb(30, 30, 30);
    font-family: Arial, Helvetica, sans-serif;
    color:antiquewhite;
    font-size: 16px;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
label, input{
    font-size: 16px;
}
code{
    white-space: pre-line;
    font-size: 16px;
}
