.navButton{
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 2px;
    border-color: rgba(111, 111, 111, 0);
    font-size: 20px;
}
.navButtonLight{
    color: #111111;
}
.navButtonAnim{
    transition: linear 0.5s;
}
.navButtonAnim:active{
    transition: linear 50ms;
}
.navButton:hover{
    border-color: #a5a5a5;
}
.navButton:not(:disabled){
    cursor:pointer;
}
.navButton:hover:disabled{
    cursor: not-allowed;
    border-color: darkred;
}
.navButton:active:not(:disabled){
    transform: translateY(5%);
}
